.App {
  text-align: center;
}

.fullscreen {
  border: 1px solid black;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-box {
  display: flex;
  flex-direction: row;
  border: 1px solid lightgrey;
}

.temps {
  display: flex;
  justify-content: space-around;
}

.daily-weather {
  padding: 5px 10px;
}

.mute-font {
  color: grey;
}

.day-space {
  margin-bottom: 0;
}
